snippet forin
	for (${2:key} in ${1:object}) {
		if ($1.hasOwnProperty($2)) {
			${3:$1[$2]}
		}
	};
snippet cl
	console.log(${1:'log'});
snippet cll
	console.log('${1:log}');
snippet try
	try {
		${1:code}
	} catch (${2:e}) {${3}}

